build/windows/pioneer/.vs/
build/windows/pioneer/Debug/
test/windows/testPioneer/.vs/
test/windows/testPioneer/Debug/
test/windows/testPioneer/testPioneer.VC.db
build/windows/pioneer/pioneer.VC.db
/test/windows/testPioneer/x64
/build/windows/pioneer/x64
/test/windows/testPioneer/*.opendb
/test/windows/testPioneer/debug.log
.DS_Store
/build/mac/pioneer2/pioneer2.xcodeproj/project.xcworkspace/xcuserdata/shengcunli.xcuserdatad/UserInterfaceState.xcuserstate
/build/mac/pioneer2/pioneer2.xcodeproj/xcuserdata/shengcunli.xcuserdatad/xcschemes/xcschememanagement.plist
/run/pioneer/Oklahoma.mkv
/run/pioneer/log.txt
/run/pioneer/Nevada.mkv
